# Exclude files starting with RIG-
RIG-*

# Exclude the out/ directory
out/

# Exclude executable files
bin/

# Exclude build artifacts
/build

# Exclude txt files
*.txt
*.log

# Exclude kate saves
*.kate-swp

# Core dump
*.dump
core
